In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import nltk
from nltk.corpus import stopwords
from gensim.models import FastText
from nltk.tokenize import word_tokenize
from collections import Counter
import pandas as pd

In [2]:
data = pd.read_csv('movie_reviews.csv')

In [3]:
import nltk
from nltk import pos_tag, word_tokenize
from nltk.corpus import stopwords

nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')

def preprocess_text(text):
    # Tokenize văn bản
    words = word_tokenize(text)

    # Lọc stop words
    stop_words = set(stopwords.words('english'))
    filtered_words = [word.lower() for word in words if word.lower() not in stop_words]

    return filtered_words

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [4]:
# Chia DataFrame thành 5 DataFrame con bằng nhau
num_splits = 4
split_size = len(data) // num_splits

# Tạo danh sách các DataFrame con và đặt tên cho chúng
split_dataframes = [data.iloc[i*split_size:(i+1)*split_size].copy() for i in range(num_splits)]
split_names = ['df_part_{}'.format(i+1) for i in range(num_splits)]

# Hiển thị thông tin về các DataFrame con và đặt tên cho chúng
for name, df_part in zip(split_names, split_dataframes):
    print(f"{name} - Rows: {len(df_part)}")

# Sử dụng split_dataframes[0], split_dataframes[1], ..., split_dataframes[4] để truy xuất từng DataFrame con

df_part_1 - Rows: 10000
df_part_2 - Rows: 10000
df_part_3 - Rows: 10000
df_part_4 - Rows: 10000

In [5]:
data1 = split_dataframes[0]
# Tạo một DataFrame mới từ slice của data
new1_data = data1.copy()
# Thêm cột 'Filtered Words' vào DataFrame mới
new1_data.loc[:, 'Filtered Words'] = new1_data['text'].apply(preprocess_text)

In [6]:
data2 = split_dataframes[1]
# Tạo một DataFrame mới từ slice của data
new2_data = data2.copy()
# Thêm cột 'Filtered Words' vào DataFrame mới
new2_data.loc[:, 'Filtered Words'] = new2_data['text'].apply(preprocess_text)

In [7]:
data3 = split_dataframes[2]
# Tạo một DataFrame mới từ slice của data
new3_data = data3.copy()
# Thêm cột 'Filtered Words' vào DataFrame mới
new3_data.loc[:, 'Filtered Words'] = new3_data['text'].apply(preprocess_text)

In [8]:
data4 = split_dataframes[3]
# Tạo một DataFrame mới từ slice của data
new4_data = data4.copy()
# Thêm cột 'Filtered Words' vào DataFrame mới
new4_data.loc[:, 'Filtered Words'] = new4_data['text'].apply(preprocess_text)

In [9]:
import nltk
from nltk.corpus import wordnet
import pandas as pd
new11_data = new1_data.copy()
# Download dữ liệu từ điển từ WordNet
nltk.download('wordnet')

def is_adjective_or_verb_or_adverb(word):
    synsets = wordnet.synsets(word)
    return any('a' in syn.pos() or 's' in syn.pos() or 'v' in syn.pos() or 'r' in syn.pos() for syn in synsets)

def extract_adjectives_and_verbs_and_adverbs(filtered_words):
    return [word for word in filtered_words if is_adjective_or_verb_or_adverb(word)]


def remove_duplicate_words(word_list):
    return list(dict.fromkeys(word_list))

# Cột 'Filtered Words' trong DataFrame nên chứa danh sách các từ đã lọc từ văn bản.
new11_data['AdjectivesAndVerbsAndAdverb'] = new11_data['Filtered Words'].apply(extract_adjectives_and_verbs_and_adverbs)



# Gọi hàm để lọc từ tính từ hoặc động từ
new11_data['AdjectivesAndVerbsAndAdverb'] = new11_data['AdjectivesAndVerbsAndAdverb'].apply(remove_duplicate_words)

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [10]:
new21_data = new2_data.copy()
# Cột 'Filtered Words' trong DataFrame nên chứa danh sách các từ đã lọc từ văn bản.
new21_data['AdjectivesAndVerbsAndAdverb'] = new21_data['Filtered Words'].apply(extract_adjectives_and_verbs_and_adverbs)



# Gọi hàm để lọc từ tính từ hoặc động từ
new21_data['AdjectivesAndVerbsAndAdverb'] = new21_data['AdjectivesAndVerbsAndAdverb'].apply(remove_duplicate_words)

In [11]:
new31_data = new3_data.copy()
# Cột 'Filtered Words' trong DataFrame nên chứa danh sách các từ đã lọc từ văn bản.
new31_data['AdjectivesAndVerbsAndAdverb'] = new31_data['Filtered Words'].apply(extract_adjectives_and_verbs_and_adverbs)



# Gọi hàm để lọc từ tính từ hoặc động từ
new31_data['AdjectivesAndVerbsAndAdverb'] = new31_data['AdjectivesAndVerbsAndAdverb'].apply(remove_duplicate_words)

In [12]:
new41_data = new4_data.copy()
# Cột 'Filtered Words' trong DataFrame nên chứa danh sách các từ đã lọc từ văn bản.
new41_data['AdjectivesAndVerbsAndAdverb'] = new41_data['Filtered Words'].apply(extract_adjectives_and_verbs_and_adverbs)



# Gọi hàm để lọc từ tính từ hoặc động từ
new41_data['AdjectivesAndVerbsAndAdverb'] = new41_data['AdjectivesAndVerbsAndAdverb'].apply(remove_duplicate_words)

In [14]:
test_data = pd.read_csv('test_data.csv')
test1_data = test_data.copy()
# Thêm cột 'Filtered Words' vào DataFrame mới
test1_data.loc[:, 'Filtered Words'] = test1_data['text'].apply(preprocess_text)
# Cột 'Filtered Words' trong DataFrame nên chứa danh sách các từ đã lọc từ văn bản.
test1_data['AdjectivesAndVerbsAndAdverb'] = test1_data['Filtered Words'].apply(extract_adjectives_and_verbs_and_adverbs)



# Gọi hàm để lọc từ tính từ hoặc động từ
test1_data['AdjectivesAndVerbsAndAdverb'] = test1_data['AdjectivesAndVerbsAndAdverb'].apply(remove_duplicate_words)

In [15]:
# Tạo một Counter từ danh sách các từ
word_frequencies_1 = Counter(word for words_list in new11_data['AdjectivesAndVerbsAndAdverb'] for word in words_list)

# Hiển thị tần suất
df_word_frequencies_1 = pd.DataFrame(list(word_frequencies_1.items()), columns=['Word', 'Frequency'])
df_word_frequencies_1 = df_word_frequencies_1.sort_values(by='Frequency', ascending=False)
df_word_frequencies_1

               Word  Frequency
78              one       5580
166            film       5395
36             like       4564
35             good       3708
116            time       3404
...             ...        ...
16595       pampers          1
10017   disfiguring          1
10021  functionally          1
16592       opposes          1
20614  entreatingly          1

[20615 rows x 2 columns]

In [16]:
# Tạo một Counter từ danh sách các từ
word_frequencies_2 = Counter(word for words_list in new21_data['AdjectivesAndVerbsAndAdverb'] for word in words_list)

# Hiển thị tần suất
df_word_frequencies_2 = pd.DataFrame(list(word_frequencies_2.items()), columns=['Word', 'Frequency'])
df_word_frequencies_2 = df_word_frequencies_2.sort_values(by='Frequency', ascending=False)
df_word_frequencies_2

             Word  Frequency
40            one       5584
10           film       5454
28           like       4553
22           good       3724
42           even       3340
...           ...        ...
16538     rickety          1
12033    minutest          1
8427       bovine          1
16534  feverishly          1
20494       knell          1

[20495 rows x 2 columns]

In [17]:
# Tạo một Counter từ danh sách các từ
word_frequencies_3 = Counter(word for words_list in new31_data['AdjectivesAndVerbsAndAdverb'] for word in words_list)

# Hiển thị tần suất
df_word_frequencies_3 = pd.DataFrame(list(word_frequencies_3.items()), columns=['Word', 'Frequency'])
df_word_frequencies_3 = df_word_frequencies_3.sort_values(by='Frequency', ascending=False)
df_word_frequencies_3

           Word  Frequency
31          one       5609
12         film       5353
41         like       4515
298        good       3754
169        time       3385
...         ...        ...
15413  goofiest          1
15411      bead          1
15408  unsocial          1
15404  steeling          1
20502    verged          1

[20503 rows x 2 columns]

In [18]:
# Tạo một Counter từ danh sách các từ
word_frequencies_4 = Counter(word for words_list in new41_data['AdjectivesAndVerbsAndAdverb'] for word in words_list)

# Hiển thị tần suất
df_word_frequencies_4 = pd.DataFrame(list(word_frequencies_4.items()), columns=['Word', 'Frequency'])
df_word_frequencies_4 = df_word_frequencies_4.sort_values(by='Frequency', ascending=False)
df_word_frequencies_4

              Word  Frequency
1             film       5536
104            one       5523
200           like       4507
95            good       3701
169           time       3385
...            ...        ...
16479  intermeshed          1
16478     entombed          1
9819      overstay          1
9822         coals          1
20407  reconstruct          1

[20408 rows x 2 columns]

In [19]:
# Tạo một Counter từ danh sách các từ
word_test_frequencies_1 = Counter(word for words_list in test1_data['AdjectivesAndVerbsAndAdverb'] for word in words_list)

# Hiển thị tần suất
df_test_word_frequencies_1 = pd.DataFrame(list(word_test_frequencies_1.items()), columns=['Word', 'Frequency'])
df_test_word_frequencies_1 = df_test_word_frequencies_1.sort_values(by='Frequency', ascending=False)
df_test_word_frequencies_1

              Word  Frequency
73             one       5543
24            film       5521
7             like       4607
200           good       3740
291           time       3321
...            ...        ...
16416         doze          1
9904    cooperated          1
16414     belittle          1
16413  testimonial          1
20467       heared          1

[20468 rows x 2 columns]

In [20]:
# Gộp các DataFrame thành một DataFrame duy nhất
merged_df = pd.concat([df_word_frequencies_1, df_word_frequencies_2, df_word_frequencies_3, df_word_frequencies_4], ignore_index=True)

# Tổng hợp tần suất của từng từ
merged_df_grouped = merged_df.groupby('Word')['Frequency'].sum().reset_index()
merged_df_grouped = merged_df_grouped.sort_values(by='Frequency', ascending=False)
merged_df_grouped

              Word  Frequency
16120          one      22296
9236          film      21738
13888         like      18139
10557         good      14887
24727         time      13423
...            ...        ...
3745   chaotically          1
23468      stroppy          1
1318   assertively          1
15428    muscovite          1
6469        dethaw          1

[27754 rows x 2 columns]

In [21]:
# Thêm cột mới 'IsAdjectiveOrVerbOrAdverb' với giá trị True nếu từ là tính từ hoặc động từ và False nếu không phải
merged_df_grouped['IsAdjectiveOrVerbOrAdverb'] = merged_df_grouped['Word'].apply(is_adjective_or_verb_or_adverb)



# Gọi hàm để lọc ra các từ là tính từ hoặc động từ
filtered_adjectives_and_verbs = merged_df_grouped.loc[merged_df_grouped['IsAdjectiveOrVerbOrAdverb']==True]
filtered_adjectives_and_verbs

              Word  Frequency  IsAdjectiveOrVerbOrAdverb
16120          one      22296                       True
9236          film      21738                       True
13888         like      18139                       True
10557         good      14887                       True
24727         time      13423                       True
...            ...        ...                        ...
3745   chaotically          1                       True
23468      stroppy          1                       True
1318   assertively          1                       True
15428    muscovite          1                       True
6469        dethaw          1                       True

[27754 rows x 3 columns]

In [22]:
filtered_df = filtered_adjectives_and_verbs.query('Frequency >= 65')
filtered_df

          Word  Frequency  IsAdjectiveOrVerbOrAdverb
16120      one      22296                       True
9236      film      21738                       True
13888     like      18139                       True
10557     good      14887                       True
24727     time      13423                       True
...        ...        ...                        ...
14455   marine         65                       True
11243     heap         65                       True
15087   mobile         65                       True
5087   convict         65                       True
21726     sigh         65                       True

[4778 rows x 3 columns]

In [23]:

# Tạo danh sách DataFrame
list_of_dataframes = [new41_data, new31_data, new21_data, new11_data]

def calculate_ratios(list_of_dataframes, words):
    ratios = {}
    filtered_rows_1_number = {word: 0 for word in words}
    filtered_rows_0_number = {word: 0 for word in words}
    
    for data in list_of_dataframes:
        for word in words:
            filtered_rows_1 = data[data['AdjectivesAndVerbsAndAdverb'].apply(lambda x: word in x) & (data['label'] == 1)]
            filtered_rows_0 = data[data['AdjectivesAndVerbsAndAdverb'].apply(lambda x: word in x) & (data['label'] == 0)]
            filtered_rows_1_number[word] += filtered_rows_1.shape[0]
            filtered_rows_0_number[word] += filtered_rows_0.shape[0]
        
    for word in words:
        ratio_1 = filtered_rows_1_number[word] / 40000
        ratio_0 = filtered_rows_0_number[word] / 40000

        ratios[word] = {'Ratio_1': ratio_1, 'Ratio_0': ratio_0}

    return ratios


# Lấy danh sách các từ từ DataFrame 'word_frequencies'
selected_words = filtered_df['Word'].tolist()

# Gọi hàm để tính tỷ lệ
ratios = calculate_ratios(list_of_dataframes, selected_words)

ratios_df = pd.DataFrame.from_dict(ratios, orient='index').reset_index()
ratios_df.columns = ['Word', 'Ratio_1', 'Ratio_0']
# Hợp hai DataFrame dựa trên cột 'Word'
result_df = pd.merge(filtered_df, ratios_df, on='Word')
result_df

         Word  Frequency  IsAdjectiveOrVerbOrAdverb   Ratio_1   Ratio_0
0         one      22296                       True  0.279250  0.278150
1        film      21738                       True  0.274950  0.268500
2        like      18139                       True  0.205150  0.248325
3        good      14887                       True  0.181825  0.190350
4        time      13423                       True  0.166700  0.168875
...       ...        ...                        ...       ...       ...
4773   marine         65                       True  0.001000  0.000625
4774     heap         65                       True  0.000500  0.001125
4775   mobile         65                       True  0.000675  0.000950
4776  convict         65                       True  0.001075  0.000550
4777     sigh         65                       True  0.000625  0.001000

[4778 rows x 5 columns]

In [24]:
table_0_greater_than_1 = result_df[result_df['Ratio_0'] >=  result_df['Ratio_1']]
table_0_less_than_1 = result_df[result_df['Ratio_1'] >  result_df['Ratio_0']]
table_0_greater_than_1 = table_0_greater_than_1.sort_values(by='Ratio_0', ascending=False)
table_0_less_than_1 = table_0_less_than_1.sort_values(by='Ratio_1', ascending=False)
bad_words = table_0_greater_than_1['Word'].tolist()
good_words = table_0_less_than_1['Word'].tolist()

In [25]:
combined_words = good_words + bad_words
len(combined_words)

4778

In [26]:
df_test_word_frequencies_1 = df_test_word_frequencies_1.dropna()
# Thêm cột mới 'IsAdjectiveOrVerb' với giá trị True nếu từ là tính từ hoặc động từ và False nếu không phải
df_test_word_frequencies_1['IsAdjectiveOrVerbOrAdverb'] = df_test_word_frequencies_1['Word'].apply(is_adjective_or_verb_or_adverb)



# Gọi hàm để lọc ra các từ là tính từ hoặc động từ
filtered_test_adjectives_and_verbs = df_test_word_frequencies_1.loc[df_test_word_frequencies_1['IsAdjectiveOrVerbOrAdverb']==True]
filtered_test_adjectives_and_verbs

              Word  Frequency  IsAdjectiveOrVerbOrAdverb
73             one       5543                       True
24            film       5521                       True
7             like       4607                       True
200           good       3740                       True
291           time       3321                       True
...            ...        ...                        ...
16416         doze          1                       True
9904    cooperated          1                       True
16414     belittle          1                       True
16413  testimonial          1                       True
20467       heared          1                       True

[20468 rows x 3 columns]

In [31]:
filtered_test_adjectives_and_verbs_1 = filtered_test_adjectives_and_verbs.query('Frequency >= 30')
filtered_test_adjectives_and_verbs_1

             Word  Frequency  IsAdjectiveOrVerbOrAdverb
73            one       5543                       True
24           film       5521                       True
7            like       4607                       True
200          good       3740                       True
291          time       3321                       True
...           ...        ...                        ...
6005         vain         30                       True
6767     aspiring         30                       True
1964  alternative         30                       True
3836          aim         30                       True
3222     intimate         30                       True

[3249 rows x 3 columns]

In [32]:
combined_words = filtered_df['Word'].tolist()
# Lọc ra các từ trong filtered_test_adjectives_1 có cột 'word' khác với filtered_adjectives
different_words = filtered_test_adjectives_and_verbs_1[~filtered_test_adjectives_and_verbs_1['Word'].isin(combined_words)]
different_words.shape[0]

0

In [34]:
import pandas as pd

new111_data = new11_data.copy()
new211_data = new21_data.copy()
new311_data = new31_data.copy()
new411_data = new41_data.copy()

# Hàm tính xác suất cho từng từ trong danh sách
def calculate_probability_0(word):
    # Lọc các hàng có từ xuất hiện trong AdjectivesAndVerbsAndAdverb và label = 0
    word_rows_label_0 = pd.concat([
        new111_data[(new111_data['label'] == 0) & new111_data['AdjectivesAndVerbsAndAdverb'].apply(lambda x: word in x)],
        new211_data[(new211_data['label'] == 0) & new211_data['AdjectivesAndVerbsAndAdverb'].apply(lambda x: word in x)],
        new311_data[(new311_data['label'] == 0) & new311_data['AdjectivesAndVerbsAndAdverb'].apply(lambda x: word in x)],
        new411_data[(new411_data['label'] == 0) & new411_data['AdjectivesAndVerbsAndAdverb'].apply(lambda x: word in x)]
    ], ignore_index=True)
    
    # Tính tổng số hàng có từ trong AdjectivesAndVerbsAndAdverb
    total_count = sum(
        len(df[df['AdjectivesAndVerbsAndAdverb'].apply(lambda x: word in x)])
        for df in [new111_data, new211_data, new311_data, new411_data]
    )
    
    # Tính tỷ lệ
    probability_word_label_0 = len(word_rows_label_0) / total_count 

    return probability_word_label_0

# Tạo DataFrame mới
probability_data_0 = pd.DataFrame(columns=['Word', 'Probability_Label_0'])

# Thêm dữ liệu vào DataFrame
for word in combined_words:
    probability = calculate_probability_0(word)
    probability_data_0 = pd.concat([probability_data_0, pd.DataFrame({'Word': [word], 'Probability_Label_0': [probability]})], ignore_index=True)

# In kết quả
probability_data_0 = probability_data_0.sort_values(by='Probability_Label_0', ascending=False)
# Gộp hai DataFrame dựa trên cột 'Word'
probability_data_0 = pd.merge(filtered_test_adjectives_and_verbs_1, probability_data_0, on='Word', how='left')
# In kết quả
probability_data_0 = probability_data_0.sort_values(by='Probability_Label_0', ascending=False)
probability_data_0

             Word  Frequency  IsAdjectiveOrVerbOrAdverb  Probability_Label_0
223         waste        518                       True             0.931637
2600            0         40                       True             0.930380
2236       drivel         49                       True             0.927273
1908      wasting         60                       True             0.924107
2151   incoherent         52                       True             0.923497
...           ...        ...                        ...                  ...
2168     timeless         51                       True             0.119318
1163  wonderfully        109                       True             0.116228
2444  understated         44                       True             0.111940
2578     superbly         41                       True             0.111702
2434     flawless         44                       True             0.092896

[3249 rows x 4 columns]

In [35]:
test2_data = test1_data.copy()


# Hàm tính xác suất cho mỗi văn bản
def calculate_text_probability_bayes(text, probabilities_df, prior_prob=0.5):
    words = text.split()
    log_odds_list = []

    for word in words:
        # Tìm xác suất của từ trong DataFrame probabilities_df
        word_prob_label_0 = probabilities_df[probabilities_df['Word'] == word]['Probability_Label_0'].values

        # Nếu từ không có trong DataFrame probabilities_df, gán xác suất mặc định
        if len(word_prob_label_0) == 0:
            word_prob_label_0 = prior_prob
        else:
            word_prob_label_0 = word_prob_label_0[0]

        # Tính toán log odds của từ
        log_odds = np.log(word_prob_label_0 / (1 - word_prob_label_0))
        log_odds_list.append(log_odds)

    # Kiểm tra nếu danh sách log odds khác 0 trước khi tính tổng
    if len(log_odds_list) > 0:
        # Tính tổng log odds của các từ trong văn bản
        sum_log_odds = sum(log_odds_list)
        
        # Tính xác suất cuối cùng cho văn bản dựa trên công thức Bayes
        text_probability = 1 / (1 + np.exp(-sum_log_odds))
    else:
        # Nếu danh sách log odds là 0, gán giá trị mặc định hoặc xử lý theo nhu cầu của bạn
        text_probability = prior_prob  # Giá trị mặc định
    
    return text_probability



test2_data['Text_Probability_Label_0'] = test2_data['AdjectivesAndVerbsAndAdverb'].apply(
    lambda x: calculate_text_probability_bayes(' '.join(x), probability_data_0) if isinstance(x, list) else 0.5
)
# Hiển thị DataFrame kết quả

In [58]:

def classify_text(probability):
    # Nếu xác suất lớn hơn 0.78, thuộc lớp 0
    if probability > 0.84:
        return 0
    else:
        return 1  # Ngược lại, thuộc lớp 1 (có thể điều chỉnh tùy theo yêu cầu)

# Áp dụng hàm phân loại cho mỗi dòng trong DataFrame
test2_data['Category'] = test2_data['Text_Probability_Label_0'].apply(classify_text)

In [59]:
test3_data = test2_data.copy()
test3_data = test2_data.loc[test2_data['Category']==1]
test3_data

,Id,text,Filtered Words,AdjectivesAndVerbsAndAdverb,Text_Probability_Label_0,Category
1,1,I dont care how many bad reviews purple rain g...,"[dont, care, many, bad, reviews, purple, rain,...","[care, many, bad, reviews, purple, rain, gets,...",0.000841,1
3,3,This is a great movie from the lost age of rea...,"[great, movie, lost, age, reactionary, madefor...","[great, lost, age, reactionary, favourite, ski...",0.053873,1
4,4,I have a problem with the movie snobs who cons...,"[problem, movie, snobs, consider, americans, u...","[consider, uncouth, unable, appreciate, sophis...",0.001672,1
5,5,Principally it is the story of two men who wer...,"[principally, story, two, men, part, portugues...","[principally, two, part, portuguese, easy, und...",0.029113,1
6,6,Is this a good movie Its hard to say but in 1...,"[good, movie, hard, say, 1953, many, people, r...","[good, hard, say, many, people, remarkably, ef...",0.004152,1
...,...,...,...,...,...,...
9993,9993,The Lion King is without a doubt my favorite D...,"[lion, king, without, doubt, favorite, disney,...","[doubt, favorite, time, figured, maybe, give, ...",0.784751,1
9994,9994,Note This should probably be read only after w...,"[note, probably, read, watching, film, rare, f...","[note, probably, read, watching, film, rare, f...",0.003689,1
9995,9995,I first saw this on Thames television and love...,"[first, saw, thames, television, loved, subseq...","[first, saw, loved, subsequently, dreadful, ce...",0.386977,1
9997,9997,Jag är nyfiken Yellow is a lot of fun Like at...,"[jag, är, nyfiken, yellow, lot, fun, like, lea...","[jag, yellow, lot, like, least, one, numerous,...",0.000132,1
9998,9998,A widely unknown strange little western with m...,"[widely, unknown, strange, little, western, mi...","[widely, unknown, strange, little, western, co...",0.695418,1

In [60]:
test3_data = test2_data.copy()
# Sử dụng hàm drop để xóa cột
test3_data.drop(columns=['AdjectivesAndVerbsAndAdverb', 'Filtered Words','Text_Probability_Label_0','text'], inplace=True)

In [61]:
test3_data.to_csv('C:\\Users\\ASUS\\Desktop\\Project-Gamma\\test53_data.csv', index=False)

In [69]:
test2_data

,Id,text,Filtered Words,AdjectivesAndVerbsAndAdverb,Text_Probability_Label_0,Category
0,0,What can possibly said about this movie other ...,"[possibly, said, movie, viewer, beware, christ...","[possibly, said, beware, evil, come, warning, ...",0.999937,0
1,1,I dont care how many bad reviews purple rain g...,"[dont, care, many, bad, reviews, purple, rain,...","[care, many, bad, reviews, purple, rain, gets,...",0.000841,1
2,2,Ken Russell directed this weird Not very ero...,"[ken, russell, directed, weird, erotic, thrill...","[directed, weird, erotic, known, staked, absol...",0.993041,0
3,3,This is a great movie from the lost age of rea...,"[great, movie, lost, age, reactionary, madefor...","[great, lost, age, reactionary, favourite, ski...",0.053873,1
4,4,I have a problem with the movie snobs who cons...,"[problem, movie, snobs, consider, americans, u...","[consider, uncouth, unable, appreciate, sophis...",0.001672,1
...,...,...,...,...,...,...
9995,9995,I first saw this on Thames television and love...,"[first, saw, thames, television, loved, subseq...","[first, saw, loved, subsequently, dreadful, ce...",0.386977,1
9996,9996,There are rumours that a fourth Underworld is ...,"[rumours, fourth, underworld, going, happen, t...","[rumours, fourth, going, happen, third, part, ...",0.999560,0
9997,9997,Jag är nyfiken Yellow is a lot of fun Like at...,"[jag, är, nyfiken, yellow, lot, fun, like, lea...","[jag, yellow, lot, like, least, one, numerous,...",0.000132,1
9998,9998,A widely unknown strange little western with m...,"[widely, unknown, strange, little, western, mi...","[widely, unknown, strange, little, western, co...",0.695418,1
9999,9999,I can say without a shadow of a doubt that Goi...,"[say, without, shadow, doubt, going, overboard...","[say, shadow, doubt, going, overboard, single,...",0.999506,0